@charset "UTF-8";
.ml-n1 { 
  margin-left: -0.25rem !important; 
}
.ml-n2 { 
  margin-left: -0.5rem !important; 
}
.ml-n3 { 
  margin-left: -1rem !important; 
}
.ml-n4 { 
  margin-left: -1.5rem !important; 
}
.ml-n5 { 
  margin-left: -3rem !important; 
}
div.delfos-radio {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
label.delfos-radio {
  margin-top: .1rem !important;
  margin-bottom: 0 !important;
  padding-top: 1 !important;
  padding-bottom: 0 !important;
  scale: .85 !important;
  opacity: .65 !important;
}
span.error_validator {
  padding-left: .75rem;
}
div.loadding-delfos {
  /*width: -moz-fit-content;
  width: fit-content;*/
  font-weight: bold;
  font-size: 40px;
  color: rgba(0, 0, 0, 0);
  background: linear-gradient(115deg, rgb(var(--warning)) calc(50% - 0.5ch), rgb(var(--danger)) 0 calc(50% + 1.5ch), rgb(var(--warning)) 0) right/calc(150% + 1ch) 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: l8 1.5s infinite steps(25);
}
div.loadding-delfos:before {
  content: "Aguarde...";
}
.custom-light-info {
  --bs-tooltip-bg:rgba(var(--info),0.8);
}
.custom-light-warning {
  --bs-tooltip-bg:rgba(var(--warning),0.9);
}
.custom-light-danger {
  --bs-tooltip-bg:rgba(var(--danger),0.8);
}
.btn.icon-btn-delfos {
    height: 25px;
    width: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    z-index: 1;
}
/*nav {
  width: 17rem;
  height: 100vh;
  display: inline-block;
  position: fixed;
  background-color: rgba(var(--white), 1);
  z-index: 1003;
}*/
nav:not(div.dt-paging>nav.vertical-sidebar) {
  width: 17rem;
  height: 100vh;
  display: inline-block;
  position: fixed;
  background-color: rgba(var(--white), 1);
  z-index: 1003;
}
.app-wrapper .semi-nav {
  width: 4.5rem !important;
  transition: var(--app-transition);
}
.app-wrapper .semi-nav:hover {
  width: 17rem !important;
  transition: var(--app-transition);
}
/*Select2 multiple - BEGIN*/
.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline-grid !important;
  padding: 8px !important;
}
ul.select2-selection__rendered > li.select2-selection__choice:first-child{
  margin-top: 1.5rem !important;
}
textarea.select2-search__field {
  padding-left: .5rem !important;
  font-weight: 500 !important;
  font-family: inherit !important;
}
/*Select2 multiple - END*/